img.w90percent {
   width: 90%;
}
img.w75percent {
   width: 75%;
}
img.w50percent {
   width: 50%;
}
img.w40percent {
   width: 40%;
}
img.w30percent {
   width: 30%;
}
img.w25percent {
   width: 25%;
}

body {
    padding-top: 70px;
    padding-bottom: 10px;
}

div.padded {
    padding-top: 3px;
    padding-bottom: 3px;
}
